@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@import '../../../../vendor/filament/filament/dist/theme.css';
@import '../../../../vendor/filament/filament/resources/css/theme.css';